body {
    background-color: #BD93BD;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: black;
}

header {
    display: flex;
}

section {
    display: flex;
}

a {
    text-decoration: none;
}

#logotipo {
    width: 100%;
    height: 100%;
    max-width: 36em;
    max-height: 16.4em;
    display: flex;
}

.logo-feminista {
    margin: 0 auto;
    display: inline-block;
    max-width: 36em;
    max-height: 16.4em;
    width: auto;
    height: auto;
}

.logo-feminista figcaption {
    position:relative;
    text-align:center;
    margin: 1em;
    font-size: 2.2em;
    color: #084C61;
    font-weight: 700;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

div{
    display: flex;
    margin: 0 ;
}

#container {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
  
#container figcaption {
    position: absolute;
    top: 3.7em;
    right: 4.8em;
    font-size: 1.3em;
    color: white;
}

.forma-info {
    display: flex;
    max-width: 30em;
    max-height: 28em;
    width: 100%;
    height: 100%;  
}

footer {
    background-color: #084C61 ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

span {
    background-color: #084C61;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px;
    padding: 10px;
}

p{
    display: flex;
    margin-right: 1em;
}

.icone {
    display: flex;
    max-width: 5em;
    max-height: 1.3em;
    width: auto;
    height: auto;
    margin-left: 0.5em;
}


@media screen and (max-width: 1024px) {
    html, body {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    header, section, a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1024px) {
    .logo-feminista{
        display: flex;
        margin-bottom: 30% ;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .logo-feminista figcaption {
        display: flex;
        font-size: 150%;
        margin-top: -20%;
    }
}

@media screen and (max-width: 1024px) {
    main {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    article, div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    #container {
        display: flex;
        background-image: url(imagens/14.png);
        background-size: 100%;
        max-width: 100%;
        max-height: 100%;
        width: 6%;
        height: 50%;
        margin-top: 10%;    
    }
}

@media screen and (max-width: 1024px) {
    .forma-info{
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    #container figcaption{
        display:inline;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        font-size: 100%;
        top: 6em;   
        right: 9em;
        white-space: nowrap; 
    }
}

@media screen and (max-width: 1024px) {
    footer{
        position:relative;
        bottom: 0;
        margin-top: 50% ;
       
    }
}
@media screen and (max-width: 1024px) {
    .icone{
        margin-right: 3%;
       
    }
}

@media screen and (max-width: 1024px) {
    p{
        font-size: 60%;
    }
}